<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body>
<h2 th:with="currentUser=${confirmPassword.getUserName()}"><span th:text="${currentUser}"/> changePassword page</h2>

<form th:method="POST" th:action="@{/admin/changePassword}" th:object="${confirmPassword}">

    <input type="hidden" th:field="*{id}" id="id"/>

    <br>

    <label for="password">New password</label>
    <input type="password" th:field="*{password}" id="password"/>

    <br>

    <label for="confirmPassword">Confirm password</label>
    <input type="password" th:field="*{confirmPassword}" id="confirmPassword"/>

    <br>
    <br>

    <a>Passwords do not match. Try one more time</a>

    <br>
    <br>

    <input type="submit" value="Ok"/>

</form>

</body>

</html>